.nav {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.link {
  text-decoration: none;
  color: #3f72af;
  font-weight: 600;
}

.link:hover {
  font-weight: 700;
}
